body {
    /*
	margin: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(45deg, #616161, #979797, #1b1b1b, #0A0A0A);
	background-size: 500% 500%;
	animation: animeBG 15s ease infinite;
	animation-direction: alternate;
    */
    margin: 0;
	width: 100%;
	height: 100vh;
    background-color: #1e1e1e;
	/*
	background: linear-gradient(90deg, rgba(61,0,22,1) 0%, rgba(46,46,48,1) 49%, rgba(61,0,22,1) 100%);
	background-size: 500% 500%;
	animation: animeBG 15s ease infinite;
	animation-direction: alternate;
    */
}

@keyframes animeBG {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.font
{
    font-family: "Montserrat";
}





.container1
{
    position: relative;
}
.img1
{
    position: absolute;
    width: 100%;
    height: 600px;
    /*object-fit: cover;*/
    object-fit: cover;
    object-position: -5% 0;
}
.text1
{
    text-shadow: 0px 0px 10px black;
    color: #ffffff;
    position: absolute;
    /*margin-left: 5%;*/
    left: 5%;
    margin-top: 10%;
    text-align: left;
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 64px;
}



.container2
{
    position: relative;
}
.img2
{
    position: absolute;
    width: 100%;
    height: 600px;
    /*object-fit: cover;*/
    object-fit: cover;
    object-position: -5% 0;
}
.text2
{
    text-shadow: 0px 0px 10px black;
    color: #ffffff;
    position: absolute;
    /*margin-left: 60%;*/
    right: 5%;
    margin-top: 10%;
    text-align: right;
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 64px;
}




nav {
    position: sticky;
    font-family: "Montserrat";
    font-weight: bolder;
    margin-top: 0px;
    padding: 24px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background-color: #1e1e1e;
  }
  #nav-1 {
    background: #1e1e1e;
  }
  
  .link-1 {
    transition: 0.3s ease;
    /*background: #3fa46a;*/
    background: #1e1e1e;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #1e1e1e;
    border-bottom: 4px solid #1e1e1e;
    padding: 20px 0;
    margin: 0 20px;
  }
  .link-1:hover {
    /*border-top: 4px solid #ffffff;*/
    border-bottom: 4px solid #ffffff;
    background-color: #1e1e1e;
    padding: 6px 0; 
  }




  .link-4 {
    transition: 0.3s ease;
    /*background: #3fa46a;*/
    background: #1e1e1e;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #1e1e1e;
    border-bottom: 4px solid #1e1e1e;
    padding: 20px 0;
    margin: 0 20px;
  }
  .link-4:hover {
    /*border-top: 4px solid #ffffff;*/
    border-bottom: 4px solid #ffffff;
    background-color: #1e1e1e;
    padding: 6px 0; 
  }





  .link-3 {
    transition: 0.3s ease;
    /*background: #3fa46a;*/
    background: #1e1e1e;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #1e1e1e;
    border-bottom: 4px solid #1e1e1e;
    padding: 20px 0;
    margin: 0 20px;
  }
  .link-3:hover {
    /*border-top: 4px solid #ffffff;*/
    border-bottom: 4px solid #ffffff;
    background-color: #1e1e1e;
    padding: 6px 0; 
  }











  /*------------ LOADER -------------*/
  /* Center the loader */
#loader {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  animation-name: loading-spin;
  animation-duration: 3s;
}

#loader-bg {
  z-index: 2;
  position: absolute;
  background-color: #1e1e1e;
  background-size: cover;
  animation-name: loading;
  animation-duration: 1.5s;
}

@keyframes loading-spin {
  0%   {opacity: 100; transform: rotate(0deg);}
  25%  {opacity: 75; transform: rotate(360deg);}
  50%  {opacity: 50; transform: rotate(720deg);}
  75%  {opacity: 25; transform: rotate(1080deg);}
  100% {opacity: 0; transform: rotate(1440deg);}
}

@keyframes loading {
  0%   {opacity: 100;}
  25%  {opacity: 75;}
  50%  {opacity: 50;}
  75%  {opacity: 25;}
  100% {opacity: 0;}
}

#main-div {
  display: none;
  animation-name: loading-main;
  animation-duration: 6s;
}

@keyframes loading-main {
  0%   {opacity: 0;}
  25%  {opacity: 25;}
  50%  {opacity: 50;}
  75%  {opacity: 75;}
  100% {opacity: 100;}
}

/*------------ LOADER -------------*/